.header {
    background: #fff;
    max-width: 1230px;
    height: 70px;
}

.header__logo {
    color: rgba(88, 49, 20, 0.6);
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    line-height: 12px;
}

.button {
    display: block;
    margin-right: 30px;
}

.login-form__content {
    background: #FAF0E6;
    max-width: 1230px;
    height: 700px;
}

.login-form__heading {
    color: rgba(88, 49, 20, 0.6);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form {
    background: #fff;
    width: 600px;
    height: 450px;
    margin: 0px auto;
    border-radius: 10px 10px 10px 10px;
}

.form__group-title {
    color: rgba(88, 49, 20, 0.7);
    font-size: 18px;
    padding-top: 60px;
    padding-left: 100px;
}

.form__group-box {
    background: rgba(220, 220, 220, 0.6);
    width: 400px;
    margin: 0px auto;
}

.form__button {
    margin:80px auto;
}

.form__button-login {
    padding: 5px 15px;
    width: 20%;
    height: 40px;
    border: none;
    background: rgba(88, 49, 20, 0.7);
    color: #fff;
    cursor: none;
    text-align: center;
}